form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button[type="button"] {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #pokemon-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .pokemon-card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .pokemon-card h2 {
    margin-top: 0;
  }
  
  .pokemon-card img {
    max-width: 100%;
  }
  


  


#minimize-form:hover {
  background-color: #ffde3e;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

#minimize-form:active {
  background-color: #ffc107;
  box-shadow: none;
  transform: translateY(0px);
}



  .pokemon-card {
background-color: #fff;
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0,0,0,.1);
display: inline-block;
margin: 10px;
max-width: 300px;
overflow: hidden;
text-align: center;
}

.pokemon-card h2 {
margin-top: 0;
}

.pokemon-card img {
width: 200px;
height: 200px;
object-fit: contain;
}

.view-more-btn {
background-color: indigo;
border: none;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-top: 10px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.view-more-btn:hover {
background-color: green;
}

.close-dialog-btn {
background-color: #ccc;
border: none;
color: #fff;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-top: 10px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.close-dialog-btn:hover {
background-color: #999;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
}



body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}


header, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #ffcb05;
  padding: 0 20px;
}

header h1, footer h3 {
  color: #333;
}



footer .pokeball:before, footer .pokeball:after {
  transform: scaleX(-1);
}




